#publish {
    
    width: 100%;
    height: 200px;
    font-size: 32px;
    font-family: serif;
    text-align: center;
    vertical-align: middle;
    margin-top: 0%;
    
}

#gender {
    
    width: 100%;
    height: 100px;
    
    font-family: serif;
    margin-top: 20%;
    text-align: center;
    vertical-align: middle;
}

#rank {
    
    width: 100%;
    height: 100px;
    
    font-family: serif;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}